# SMTP (Nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="tu_correo@gmail.com"
SMTP_PASS="tu_app_password_de_16_digitos"
SMTP_FROM="POS Soporte <tu_correo@gmail.com>"

# Servicio
PORT="3000"

# Seguridad del endpoint /enviar-password
API_KEY="KEY FOR YOUR SERVICE ACCESS"

# Plantillas
NOMBRE_EMPRESA="Tu Empresa"
LOGO_URL="URL pública del logo"