# Resend
RESEND_API_KEY="API KEY FROM RESEND"

# Servicio
PORT="3000"

# Seguridad del endpoint /enviar-password
API_KEY="KEY FOR YOUR SERVICE ACCESS"

# Plantillas
NOMBRE_EMPRESA="Tu Empresa"
LOGO_URL="URL pública del logo"